---
# handlers file for nginx-tested

- name: reload nginx
  service:
    name: nginx
    state: reloaded
  become: true

- name: restart nginx
  service:
    name: nginx
    state: restarted
  become: true
